{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* pour centrer verticalement le formulaire */

        }
        form {
            width: 50%;
            margin-left: 40%; /* décaler vers la droite de 25% de la largeur de la page */
        }
    </style>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}






