{% extends 'base.html.twig' %}

{% block title %}Edit Panier{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
    <h1>Produit</h1>

    {{ include('panier/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_panier_index') }}"style="background-color: #d1a88e; color: #6e2424;">retour à la liste</a>

    {{ include('panier/_delete_form.html.twig') }}
    </div>
</div>
        {% endblock %}
