{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <h1>Welcome to Antika!</h1>
    </div>
{% endblock %}
