{% form_theme form _self %}


{% block _reservation_evenement_row %}
    <div class="form-group row">
        {{ form_label(form.evenement, 'Nom', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.evenement, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}

{% block _reservation_price_row %}
    <div class="form-group row">
        <td>x 1</td>
    </div>
{% endblock %}

{% block _total_price_row %}
    <div class="form-group row">
        <td>50.00 Dt</td>
    </div>
{% endblock %}

{% block _reservation__token_row %}{% endblock %}

{% block _reservation_save_row %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{% endblock %}