{% extends 'base.html.twig' %}

{% block title %}
	Reservation Booking
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container">
			<div class="row">

				 <div class="col-md-6">
					<td class="order_review">
						<div class="heading_s1">
							<h4>Your Orders</h4>
						</div>
						<div class="table-responsive order_table">

							 <table class="table">
								<thead>
								<tr>
									<th>Reservation</th>
									<th>Total</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>{{ evenement.nom }} <span class="product-qty"></span></td>
									<td>$90.00</td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>SubTotal</th>
									<td class="product-subtotal">$90.00</td>
								</tr>


								</tfoot>
							 </table>
						</div>

						<td  {{include ('reservation/_form.html.twig') }}><a href="{{ path('app_reservation_index') }}" class="btn btn-fill-out btn-block">Place Reservation</a></td>

					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}