{% form_theme form _self %}


{% block _mise_product_row %}
   <div class="form-group row">
      <td> Pot O' Gold</td>
   </div>
{% endblock %}

{% block _mise__token_row %}{% endblock %}

{% block _mise_save_row %}
   <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
         <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
      </div>
   </div>
{% endblock %}

{% block _mise_quantity_row %}
   <div class="form-group row">
      <div class="col-sm-10">
         {{ form_label(form.quantity) }}
      </div>
   </div>
{% endblock %}
