{% extends 'base.html.twig' %}

{% block title %} Auction | Bet {% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center order_complete">
                        <i class="fas fa-check-circle"></i>
                        <div class="heading_s1">
                            <h3>Your bet is placed!</h3>
                        </div>
                        <p>Thank you for betting! You will receive a notification in case of winning.</p>
                        <a href="{{ path('app_mise_new') }}" class="btn btn-fill-out">Bets list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
